<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountantlogout</servlet-name>
        <servlet-class>accountantlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addaccountant</servlet-name>
        <servlet-class>addaccountant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewaccountant</servlet-name>
        <servlet-class>viewaccountant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editaccform</servlet-name>
        <servlet-class>editaccform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editacc</servlet-name>
        <servlet-class>editacc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteaccountant</servlet-name>
        <servlet-class>deleteaccountant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstudent</servlet-name>
        <servlet-class>addstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstudent</servlet-name>
        <servlet-class>viewstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchstudent</servlet-name>
        <servlet-class>searchstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>duefee</servlet-name>
        <servlet-class>duefee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestudent</servlet-name>
        <servlet-class>deletestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstudent</servlet-name>
        <servlet-class>editstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstudentform</servlet-name>
        <servlet-class>editstudentform</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountantlogout</servlet-name>
        <url-pattern>/accountantlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addaccountant</servlet-name>
        <url-pattern>/addaccountant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewaccountant</servlet-name>
        <url-pattern>/viewaccountant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editaccform</servlet-name>
        <url-pattern>/editaccform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editacc</servlet-name>
        <url-pattern>/editacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteaccountant</servlet-name>
        <url-pattern>/deleteaccountant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstudent</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstudent</servlet-name>
        <url-pattern>/viewstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchstudent</servlet-name>
        <url-pattern>/searchstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>duefee</servlet-name>
        <url-pattern>/duefee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestudent</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstudent</servlet-name>
        <url-pattern>/editstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstudentform</servlet-name>
        <url-pattern>/editstudentform</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
